body {
		background-color: #4C8A74;
		margin: 0px;
	}

#header{
		background-color: black;
		color: white;
		font-size: 2em;
		text-align: center;
		padding: 10px;
	}
	
#linkbar{
		background-color: #31574A;
		color: white;
	}
	
#links{
		width: 100%;
		list-style-type: none;
		margin: 0px;	/*  This has to be here, otherwise there will be a blank space between the header and the navbar */
	}
	
.clearfix{
		clear: both;
	}
	
.menulinks{
		padding: 10px;
		float: left;
	}
			
#register, #login{
		position: absolute;
		visibility: hidden;
		left: 20%;
		right: 20%;
		background-color: white;
		border-width: 10px;
		border-style: solid;
		border-color: black;
		padding: 20px;
		z-index: 64;
}

#newpost, #editpost, #about{
		position: absolute;
		visibility: hidden;
		left: 15%;
		right: 15%;
		background-color: white;
		border-width: 10px;
		border-style: solid;
		border-color: black;
		padding: 20px;
		z-index: 64;
}

#header a{
		text-decoration: none;
		color: white;
}

#linkbar a{
		text-decoration: none;
		font-weight: 600;
		color: white;
	}
	
#nothing{
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color: white;
	z-index: 72;
}