.post{
		margin: 30px;
		border-width: 3px;
		border-style: solid;
		border-color: black;
		background-color: white;
		color: black;
		-moz-border-radius: 50px;
		border-radius: 50px;
}

.postHeader{
		text-align: center;
		font-size: 1.2em;
		margin: 10px;
}

.postAuthor{
		margin: 15px;
		font-size: 0.8em;
}

.postText{
		font-size: 0.8em;
		margin: 15px;
}

.commentBox{
		font-size: 0.8em;
		margin: 15px;
}

.comment{
		font-size: 0.8em;
		margin: 15px;
}

.sheet{
		background-color: black;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 32;
		opacity: 0.6;
	}
	
#register, #login{
		position: absolute;
		left: 20%;
		right: 20%;
		background-color: white;
		border-width: 10px;
		border-style: solid;
		border-color: black;
		padding: 20px;
		z-index: 64;
}

a{
		text-decoration: none;
		font-weight: 600;
	}
	
.post a{
		color: black;
	}