.post{
		margin: 30px;
		border-width: 3px;
		border-style: solid;
		border-color: black;
		background-color: white;
		color: black;
		-moz-border-radius: 50px;
		border-radius: 50px;
}

.postHeader{
		text-align: center;
		font-size: 25px;
		margin: 10px;
}

.postAuthor, .postText, .postComments{
		margin: 15px;
		font-size: 20px;
		font-family: 'Palatino', 'Palatino Linotype', 'Georgia', serif;
}

.postAuthor{
		font-size: 16px;
}

.commentBox{
		font-size: 18px;
		margin: 15px;
}

.comment{
		font-size: 18px;
		margin: 15px;
}

.sheet{
		background-color: black;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 32;
		opacity: 0.6;
	}
	
.post a{
		text-decoration: none;
		font-weight: 600;
		color: black;
	}
	
#archivediv a, #archivelink a{
		text-decoration: none;
		text-align: center;
		font-weight: 600;
		color: black;
	}
	
#archivediv, #archivelink{
		text-align: center;	
	}